body {
  font-family: system-ui, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: lighter;
  font-size: 3rem;
}

#timer {
  font-size: 50vw;
  font-weight: lighter;
  margin: 1rem 0;
}

#phase {
  font-size: 2em;
  color: black;
  font-weight: lighter;
}

#progressBar {
  width: 100vw;
  height: 8px;
  background: white;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  order: -1;
}

#progressFill {
  height: 100%;
  background: #000;
}

#description {
  margin: 1rem 0;
  padding: 1rem;
  text-align: left;
}

#buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: #fff;
  z-index: 100;
}

button {
  flex: 1;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0;
  background: #fff;
  border: 1px solid #000;
  border-top: 2px solid black;
  border-radius: 0;
}
button:hover{
    background: black;
    color: white;
}

#routineList {
  text-align: left;
  padding-top: 1rem;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #black;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

#routineList h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#timeRemaining {
  font-size: 2rem;
  font-weight: lighter;
}

#routineList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#routineList li {
  padding: 0.5rem;
  font-weight: lighter;
  font-size: 2rem;
}

#routineList li.current {
  font-weight: normal;
}

#routineList li.completed {
  text-decoration: line-through;
}

@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr auto auto auto;
    max-width: none;
    padding: 0;
  }

  #progressBar {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100vw;
    height: 1rem;
    border-bottom: 2px solid black;
  }

  h1 {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    padding: 1rem 0;
    border-right: 1px solid black;
    font-size: 5rem;
  }

  #phase {
    grid-column: 1;
    grid-row: 3;
    justify-content: center;
    margin: 0;
    border-right: 1px solid black;
  }

  #timer {
    grid-column: 1;
    grid-row: 4;
    font-size: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    margin: 0
  }

  #timeRemaining {
    grid-column: 1;
    grid-row: 5;
    border-right: 1px solid black;
  }

  #description {
    grid-column: 1;
    grid-row: 6;
    border-right: 1px solid black;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 2em;
  }

  #buttons {
    position: static;
    grid-column: 1 / -1;
    grid-row: 7;
  }

  #routineList {
    grid-column: 2;
    grid-row: 2 / 7;
    width: auto;
    left: 0;
    transform: none;
    margin-top: 0;
    border-top: none;
    border-left: 1px solid black;
    padding-left: 0rem;
    padding-top: 0;
    font-size: 2rem;
  }
  #routineList ul li{
      padding-left: 1rem;
  }
}
